.godot/
.import/
.nomedia
~*.dll
export.cfg
export_credentials.cfg
*.tmp
*.translation

.devin/config.local.json

.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.com.apple.timemachine.supported
.PKInstallSandboxManager
.PKInstallSandboxManager-SystemSoftware
.hotfiles.btree
.vol
.file
.disk_label*
lost+found
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Desktop DB
Desktop DF
TheFindByContentFolder
TheVolumeSettingsFolder
.FBCIndex
.FBCSemaphoreFile
.FBCLockFolder
.quota.group
.quota.user
.quota.ops.group
.quota.ops.user
Backups.backupdb
.MobileBackups
.MobileBackups.trash
MobileBackups.trash
tmbootpicker.efi
